<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<form method="post" style="max-width: 300px; margin: auto;" action="/login/">
    {% csrf_token %}
    <div class="form-row">
        <label for="login">Set your nickname</label>
        <input class='form-control' name="login" id="login"/>
    </div>
    <div class="form-row">
        <input class="btn btn-primary" type="submit" value="Submit"/>
    </div>
</form>
</body>
</html>